asgiref
cachetools
certifi
charset-normalizer
cryptography
Django
django-ckeditor
django-cors-headers
django-environ
django-js-asset
djangorestframework
djangorestframework-simplejwt
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
oauthlib
packaging
Pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyJWT
pyparsing
pytz
requests
requests-oauthlib
rsa
six
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
